<<<<<<< Updated upstream
*, **{
    margin: 0px;
    padding: 0px;
}

#image{
   height: 275px;
    width: 250px;
    margin-bottom: -1rem;
}

#line1{
    color: #F6F0E3;
    margin: 0 0 0 5rem;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 300;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.02em;
}

.first-row{
    margin-top: 3rem;
    padding-top: 5rem;
}

#name{
    color: #F6F0E3;
    font-family: 'Cabinet Grotesk' sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.02em;
}

.img-box{
    margin-top: 3rem;
    margin-inline-end: 3rem;
    padding-bottom: 3rem;
}

#word{
    color: #F6F0E3;
}

#color{
    color: #F6F0E3;
    font-family: 'IBM Plex Sans' sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;

}

.border{
    display: flex;
    flex-direction: row;
    margin: 0 5em 0 5rem; 
}

.page1{
    background-color: #141414;
    margin-left: -0.5rem;
}

.content{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color:#F6F0E3;

}

.card{
    background-color:#2E294E;
    border: 1px solid #2E294E;
    margin: 3rem 7rem 5rem 7rem;
    padding: 0 40rem 6rem 3rem;

}

.content p{
    text-align: left;
}

.content h1{
    text-align: left;
}

#card-image{
    position: absolute;
    scale: -0.7;
    z-index: 1;
    margin: 3rem 0 0 51rem;
}

.btn-card{
    background-color: #ffd400;
    padding: 0.5rem 1rem;  
    margin-top: 15px;
    border-style: none;
    border-radius: 5px;
    margin-left: 0px;
}

.color{
    color: white;
}

#line2{
    margin-top: 5rem;
    color: white;
}

#col{
    color: black;
}

.card p{
    color: white;
}

/* footer styles */
.footer{
    background-color: #F6F0E3;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
}

.footer-links{
    display: flex;
    flex-direction: row; 
    text-decoration: none;
    list-style: none;
    margin-left: -3rem;
}

li a{
    margin-right: 1.2rem;
    text-decoration: none;
    color: black;
}

.footer-info{
    margin-left: 7rem; 
    margin-top: -3rem;
}

.copyright{
   line-height: 2rem;
}

.courses{
    display: flex;
    flex-direction: row;
    margin: -1.5rem 5rem 0 18rem;
}

.footer-courses1{
    margin-right: 2.5rem;
}

.footer-courses2{
    margin-right: 2.5rem;
}

.footer-courses3{
    margin-right: 2.5rem;
}

#col{
    margin-left: 2rem;
    margin-bottom: -1rem;
}

#footer-img{
    margin-top: -1rem;
}

.footer-row1{
    line-height: 2rem;
    list-style: none;
    margin-left: -0.2rem;
    color: black;
}

.footer-row1 li a{
    text-decoration: none;
    text-decoration-color: none;
}

.footer-row2{
    list-style: none;
    text-decoration: none;
    margin-left: -0.5rem;
    line-height: 2rem;
}

.footer-row3{
    list-style: none;
    text-decoration: none;
    margin-left: -0.5rem;
    line-height: 2rem;
}

h3{
    margin-bottom: -0.09px;
}

#shapes{
    position: absolute;
    order:-1;
    z-index: 0;
    margin-left: 110px;
}

.box{
    width: 109px;
    height: 24px;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.btn-design:hover{
    transition: 0.3em; 
    cursor: pointer;
    scale: 1.1;
} 


/* Media query for screens with a maximum width of 600px (for smaller devices) */
@media only screen and (max-width: 600px) {

    .container{
        width: 100%;
        margin-right: 1.3rem;
        margin-left: 0.1rem;
        padding: 0;
    }
    
    h2 {
        margin: 0 1rem 0.5rem 1rem; 
        padding: 0px 0 0 10px; 
    }

    #line1{
        margin: -1rem 0 0 5rem;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.02em;
    }

    #name{
        width: 214px;
        height: 34px;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.02em;
    }

    .first-row {
        margin-top: 0.5rem;
        margin-left: 0.3px;
    }

    .page1 {
        background-color: #141414;
        margin: 1rem 0 0 -1rem;
        padding: 1rem 0 0 0;
        display: block;
    }

    .border{
        display: block;
        margin-bottom: 1rem;
    }

    .img-box {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem; 
    }

    #image {
        margin: 0 1rem 1rem 1rem;
    }

    h3 {
        color: #FFFFFF;
        margin: -0.3rem 0 0.5rem 0;
    }

    #color {
        color: #FFFFFF; /* Change text color to white for better visibility */
        width: 166px;
        height: 22px;
        font-family: IBM Plex Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
    }

    /* Update the styles for the content section */
    .content {
        background-color: #F6F0E3;
        flex-direction: column; /* Stack content vertically for smaller screens */
        margin: 0 1.5rem 1.5rem 0;
        width: auto;
    }

    .card {
        margin: 1rem; /* Adjust margin for smaller screens */
        padding: 0 1rem 2rem 1rem; /* Adjust padding for smaller screens */
    }

    #card-image {
        display: none; /* Hide the image for smaller screens */
    }

    .footer {
        margin: 0;
        display: block;
    }

    .courses {
        margin: 1rem 1rem 0 1rem; 
        flex-direction: column; 
    }

    .footer-links {
        margin-left: 0; 
    }

    .footer-info {
        margin-left: 1rem;
        margin-top: 0; 
    }

    .copyright{
        margin: 0 2rem 0 0;
    }
}

 


    /* JOHN CSS  */
    
.page4 h1{
    font-family: 'Cabinet Grotesk', sans-serif;
    line-height: 58px; 
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 70px;
    color: black;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #363636;
    text-align: center;
}

h5{
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

h2{
    font-family: 'Cabinet Grotesk', sans-serif;
    height: 72px;
    text-align:center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.border-box{
    border: 1.5px solid black;
    box-shadow: 7px 5px #2E294E;
    width: 290px;
    height: 260px;
    margin: 40px;
    background-color: white;
}

#vector{
    scale: 0.7;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.border-box h3{
    font-family: 'Cabinet Grotesk', sans-serif;
    margin-left: 30px;
    margin-bottom: 0;
}

.border-box p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: small;
    margin-top: 0px;
    text-align: left;
    margin-left: 25px;
}

button{
    margin-left: 25px;
    border: 0px;
    background-color: white;
}

@media screen and (max-width:768px) {
body{
    width: 390px;
    height: 3140px;
    top: 2406px;
}

h1{
    width: 310.14px;
    height: 76px;
    font-family:'Cabinet Grotesk', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.02em;
    margin-left: 30px;
}

p{
    width: 370px;
    height: 237.16px;
    font-family:'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 10px;
    color: #363636;
    
}

.start{
    width: 300px;
    height: 70px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.boxes{
    flex-direction: column;
    border: 1.64px;
    align-content: center;
}

.border-box{
    margin-top: 0px;
    width: 349px;
    height: 374.4px;

}

.border-box h3{
    font-family:'Cabinet Grotesk', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.border-box p{
    width: 280.71px;
    height: 132px;
    display: flex;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

button{
   margin-top: 20px;
}

}
/* End of it */
=======
*, ** {
    margin: 0;
    padding: 0;
}

.frontpage{
    width: 100%;
    background: #F6F0E3;
}

#logo{
    position: absolute;
    scale: 1;
    z-index:1;
    margin-top: 3rem;
    margin-left:1rem;
}

.desktop-menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 100px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.desktop-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: black;
    margin:50px 0px 0px 300px;
}

.desktop-menu li {
    display: flex;
    flex-direction: row;
    margin-inline: 10px;
}

.desktop-menu a {
    color:black;
    text-decoration: none;
    margin-top: 50px;
    padding: 15px 20px;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.desktop-menu li button{
    border: 0cm;
    background: #F6F0E3;
    margin-top: 50px;
    font-size:medium;
}

#button1{
    padding: 14px 32px;
    border-radius: 4px;
    background: #A74747;
    border-color: #A74747;
    color:#f1f1f1 ;
    border: 0px; 
    margin-left: 250px; 
    margin-top: 50px;  
    font:18px;
    font-weight:600;
}

#shape{
    position: relative;
    scale:1;
    z-index: 1;
    margin-top: -80px;
}
.frontpage p{
    padding: 20px;
}


.body{
    margin-top: 100px;
} 

.borderbox1 h1{
    color: #000;
    text-align: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: -2%;
    letter-spacing: -1.28px;
    
}

.button2{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#button2a{
    color: #000;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 14px 32px;
}
#button2b{
    border: 0px;
    border-radius: 4px;
    background: #A74747;
    color: #FFF;
    padding: 14px 32px;
}

.page2{
    display:grid;
    background: #2E294E;
    padding:70px;
}

.borderbox3{
    margin-left: 700px;
    margin-top: 40px;
    gap: 2px;
}

#img1{
    scale: 0.7;
    position: absolute;
    z-index:1;
    margin-right:600px;
    margin-top: -70px;
}
.page2 h2{
    color: #FFF;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

.page2 p{
    color: #D3D0E7;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    display: grid;
    margin-top: 0px;
}

.arrow-button {
    border-radius: 4px;
    background: #2E294E;
    display: inline-flex;
    border-color: #FFFFFF33;
    height: 50px;
    color: #FFF;
    padding: 14px 32px;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    gap: 10px;

}

.page3{
    padding:50px;
    background: #541388;
    display: grid;
}

#img2{
    scale: 0.7;
    position: absolute;
    z-index:1;
    margin-left:450px;
    margin-top: -300px;
   
}

h3{
    color: #FFF;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
    margin:10px 0px;
}

.page3 p{
    color: #D3D0E7;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
  
.arrow-button2 {
    border-radius: 4px;
    background: #FFD400;
    border: 0px;
    display: inline-flex;
    height: 50px;
    color:#541388;
    margin-top: 10px;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

} 
.borderbox4{
    margin-left: 150px;
}

.mobile-menu-button {
    display: none;
}

.mobile-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    background-color: #333;
}

.mobile-menu li {
    padding: 15px;
    text-align: center;
}

.mobile-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 768px){
    .desktop-menu {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .mobile-menu-icon {
        background-color: #F6F0E3;
        color: #333;
        border: none;
        font-size: 50px;
        margin-top: 10px;
        margin-left:580px;
    }
    .mobile-menu {
        display: none;
    }

    .frontpage h1{
        font-size:32px;
        margin-top: 100px;

    }
    .logo{
        scale:1.5;
        margin-top: -100px;
    }
    .button2{
        display:flex;
        flex-direction: column;
    }
    #shape{
        margin-top: 50px;
    }
    .page2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #img1{
        margin-top:-400px;
        
    }

    .borderbox3{
        margin-top:400px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .page3{
        top: 1519px;
        padding: 452px, 42.49px, 89px, 21.36px;
        display: flex;
        flex-direction: column;
    }

    .borderbox4{
        margin-top: 350px;
        margin-left: 21.36px;
        gap: 32px;

    }

    #img2{
        margin-left: -240px;
        margin-top: -900px;
    }
}
    
>>>>>>> Stashed changes
